body {
  --fallback-background-color: var(--clr-bg-primary);

  background-color: var(--fallback-background-color);
  color: var(--clr-text-primary);
}

.wrapper {
  --max-width: 61.875rem;
  --padding: 2rem;

  width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}
