@use '@app/style/mixin/_breakpoint' as *;

.area-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: var(--mobile-gap);

  @include tablet {
    flex-direction: column;
    align-items: start;
  }

  form {
    display: flex;
    gap: var(--desktop-gap);

    @include tablet {
      gap: var(--mobile-gap);
      flex-direction: column;
    }
  }

  &__filter {
    input {
      position: absolute;
      max-width: 3.4375rem;
      padding: 0.25rem;
      border-radius: 0.25rem;
      border-width: 1px;
      border-style: solid;
      top: -3px;
      background-color: transparent;
      text-align: center;
    }
  }
}
