:root {
  @for $i from 0 through 18 {
    $lightness: 100% - ($i * 5%);
    $index: $i * 50;
    --rclr-neutral-#{$index}: #{hsl(235, 14%, $lightness)};
    --rclr-purple-#{$index}: #{hsl(274, 90%, $lightness)};
    --rclr-yellow-#{$index}: #{hsl(37, 100%, $lightness)};
    --rclr-orange-#{$index}: #{hsl(15, 99%, $lightness)};
  }
}

.text-clr--primary {
  color: var(--clr-text-primary);
}

.text-clr--secondary {
  color: var(--clr-text-secondary);
}

.bg-clr--primary {
  background-color: var(--clr-bg-primary);
}

.bg-clr--secondary {
  background-color: var(--clr-bg-secondary);
}

.bg-clr--tertiary {
  background-color: var(--clr-bg-tertiary);
}

.border-clr--primary {
  border-color: var(--clr-border-primary);
}
