:root {
  // General
  --clr-accent-primary: var(--rclr-purple-200);
  --clr-accent-secondary: var(--rclr-yellow-500);
  --clr-accent-tertiary: var(--rclr-orange-350);
}

[data-theme='dark'] {
  background: url('/assets/images/bg-dark-theme.png');

  --clr-bg-primary: var(--rclr-neutral-900);
  --clr-bg-secondary: var(--rclr-neutral-850);
  --clr-bg-tertiary: var(--rclr-neutral-800);

  --clr-text-primary: var(--rclr-neutral-50);
  --clr-text-secondary: var(--rclr-neutral-150);

  --clr-accent-error: var(--rclr-orange-350);

  --clr-border-primary: var(--rclr-neutral-800);
  --clr-border-secondary: var(--rclr-neutral-200);
}

[data-theme='light'] {
  background: url('/assets/images/bg-light-theme.png');

  --clr-bg-primary: var(--rclr-neutral-50);
  --clr-bg-secondary: var(--rclr-neutral-50);
  --clr-bg-tertiary: var(--rclr-neutral-100);

  --clr-text-primary: var(--rclr-neutral-900);
  --clr-text-secondary: var(--rclr-neutral-800);

  --clr-accent-error: var(--rclr-orange-450);

  --clr-border-primary: var(--rclr-neutral-100);
  --clr-border-secondary: var(--rclr-neutral-800);
}
